<div class="modal-body">
    <div class="mb-3">
        <label for="recipient-name" class="col-form-label">First Name:</label>
        <input type="text" class="form-control" id="recipient-name" value="{{this.first_name}}" required
            placeholder="first name" name="first_name">
    </div>
    <div class="mb-3">
        <label for="message-text" class="col-form-label">Last Name:</label>
        <input class="form-control" id="message-text" value="{{this.last_name}}" placeholder="last name" required
            name="last_name"></input>
    </div>
    <div class="mb-3">
        <label for="message-text" class="col-form-label">Email:</label>
        <input class="form-control" id="message-text" value="{{this.email}}" type="email" placeholder="email"
            name="email" required></input>
    </div>
    <div class="mb-3">
        <label for="message-text" class="col-form-label">Phone:</label>
        <input class="form-control" id="message-text" type="number" value="{{this.phone}}" placeholder="phone"
            name="phone" required></input>
    </div>
</div>

